body {
	background-color:#000000;
	background-repeat: no-repeat;
	background-size: cover;
	height: 900px;
	width: 1024px;
}
form{
	background:#FFFFFF;
	height: 600px;
	width: 500px;
	padding: 20px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	border-radius:15px;
	box-shadow: -3px -3px 10px;
}

#input1{
	width: 100%;
	overflow: hidden;
	font-size: 18px;
	padding: 8px 0;
	margin: 8px 0;
	background:none;
	margin-top: 10px;
	border-radius: 10px;
	text-align:center
  
}

h3 {
	float: left;
  font-size: 40px;
  border-bottom: 6px solid #424b54;
  margin-bottom: 100px;
   padding: 13px 0;
 
}

.btn{
  width: 100%;
  background: #000000;
  color: white;
  padding: 5px;
  font-size: 18px;
  margin: 12px 0;
  border-radius:10px;
}

#label1{
	outline: none;
	background: none;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
	text-align:left;
	font-size: 20px;
	
}

p{
	margin-top:20px;
	text-align: center;
}



