body {
	background-color:#000000;
	background-repeat: no-repeat;
	background-size: cover;
	height: 1024px;
	width: 1024px;
}
form{
	background:#FFFFFF;
	height: 800px;
	width: 900px;
	padding: 20px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	border-radius:15px;
	box-shadow: -3px -3px 10px;
}

#tab{
	margin-right: 20px
}